In [118]:
import pandas as pd
import xlwings as xl
pd.options.display.float_format = '{:.2f}'.format

# File reading

Accounts for some values being computed within excel.

In [119]:
import xlwings as xw

def df_from_excel(path):
    wb = xw.Book(path)
    wb.app.calculate()
    wb.save()
    wb.close()

    return pd.read_excel(path)

## Clinical indicators

In [120]:


clin_indic = df_from_excel('actionable_data/Clinical indicators.xlsx')
print(clin_indic.columns)

clin_indic.head(5)

Index(['number', 'gender', 'age', 'height', 'weight', 'admission FBG (mmol/L)',
       'Discharge FBG (mmol/L)', 'HbA1c (%)', 'SBP (mmHg)', 'DBP (mmHg)',
       'WBC (×109/L)', 'N% (%)', 'Hb (g/L)', 'PLT (×109/L)', 'CRP (mg/L)',
       'ALT (U/L)', ' AST (U/L)', 'AST/ALT', 'GGT (U/L)', 'BUN (mmol/L)',
       ' UA (mmol/L)', 'TG (mmol/L)', 'HDL-C (mmol/L)', 'LDL-C (mmol/L)',
       'UMA (mg)', 'UCr (g)', 'UACR (mg/g)', 'Diabetic Complications',
       'Diabetic nephropathy', 'Diabetic retinopathy and cataract',
       'Diabetic peripheral neuropathy',
       'Coronary artery disease and cardiac insufficiency',
       'Lower extremity atherosclerosis or stenosis', 'Carotid plaque'],
      dtype='object')

,number,gender,age,height,weight,admission FBG (mmol/L),Discharge FBG (mmol/L),HbA1c (%),SBP (mmHg),DBP (mmHg),...,UMA (mg),UCr (g),UACR (mg/g),Diabetic Complications,Diabetic nephropathy,Diabetic retinopathy and cataract,Diabetic peripheral neuropathy,Coronary artery disease and cardiac insufficiency,Lower extremity atherosclerosis or stenosis,Carotid plaque
0,20050628,male,48,170,79.00,10.70,9.20,9.80,133.00,78.00,...,9.41,15.27,0.62,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,20052606,male,38,173,90.00,NaN,6.20,NaN,127.00,88.00,...,28.00,14.48,1.93,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,20061729,male,41,185,76.60,13.30,6.70,11.80,140.00,90.00,...,2.93,3.89,0.75,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,20092226,male,67,180,64.00,16.50,7.70,NaN,127.00,77.00,...,5.27,5.87,0.90,1.00,0.00,1.00,0.00,0.00,0.00,1.00
4,20092535,male,49,165,65.00,8.80,5.20,10.20,122.00,97.00,...,15.70,15.65,1.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00

In [121]:
clin_indic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 34 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   number                                             60 non-null     int64
 1   gender                                             60 non-null     object
 2   age                                                60 non-null     int64
 3   height                                             60 non-null     int64
 4   weight                                             60 non-null     float64
 5   admission FBG (mmol/L)                             52 non-null     float64
 6   Discharge FBG (mmol/L)                             37 non-null     float64
 7   HbA1c (%)                                          40 non-null     float64
 8   SBP (mmHg)                                         58 non-null     float64
 9   DBP (mmHg)                                         58 non-null     float64
 10  WBC (×109/L)                                       56 non-null     float64
 11  N% (%)                                             56 non-null     float64
 12  Hb (g/L)                                           56 non-null     float64
 13  PLT (×109/L)                                       56 non-null     float64
 14  CRP (mg/L)                                         51 non-null     float64
 15  ALT (U/L)                                          56 non-null     float64
 16   AST (U/L)                                         55 non-null     float64
 17  AST/ALT                                            55 non-null     float64
 18  GGT (U/L)                                          56 non-null     float64
 19  BUN (mmol/L)                                       50 non-null     float64
 20   UA (mmol/L)                                       51 non-null     float64
 21  TG (mmol/L)                                        52 non-null     float64
 22  HDL-C (mmol/L)                                     51 non-null     float64
 23  LDL-C (mmol/L)                                     51 non-null     float64
 24  UMA (mg)                                           49 non-null     float64
 25  UCr (g)                                            47 non-null     float64
 26  UACR (mg/g)                                        47 non-null     float64
 27  Diabetic Complications                             58 non-null     float64
 28  Diabetic nephropathy                               58 non-null     float64
 29  Diabetic retinopathy and cataract                  58 non-null     float64
 30  Diabetic peripheral neuropathy                     58 non-null     float64
 31  Coronary artery disease and cardiac insufficiency  58 non-null     float64
 32  Lower extremity atherosclerosis or stenosis        58 non-null     float64
 33  Carotid plaque                                     58 non-null     float64
dtypes: float64(30), int64(3), object(1)
memory usage: 16.1+ KB

In [122]:
clin_indic.describe()

,number,age,height,weight,admission FBG (mmol/L),Discharge FBG (mmol/L),HbA1c (%),SBP (mmHg),DBP (mmHg),WBC (×109/L),...,UMA (mg),UCr (g),UACR (mg/g),Diabetic Complications,Diabetic nephropathy,Diabetic retinopathy and cataract,Diabetic peripheral neuropathy,Coronary artery disease and cardiac insufficiency,Lower extremity atherosclerosis or stenosis,Carotid plaque
count,60.00,60.00,60.00,60.00,52.00,37.00,40.00,58.00,58.00,56.00,...,49.00,47.00,47.00,58.00,58.00,58.00,58.00,58.00,58.00,58.00
mean,19609115.60,49.53,171.52,77.53,9.05,6.54,8.22,136.03,85.02,7.23,...,56.54,10.38,6.05,0.50,0.10,0.28,0.07,0.05,0.07,0.17
std,502267.04,16.00,6.43,13.94,3.07,1.24,1.67,13.56,10.68,3.99,...,89.41,5.90,10.93,0.50,0.31,0.45,0.26,0.22,0.26,0.38
min,19070921.00,12.00,154.00,50.60,3.30,4.90,5.60,105.00,61.00,3.60,...,2.69,2.33,0.35,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,19098785.25,34.75,169.75,69.00,6.47,5.50,6.70,126.00,78.00,5.30,...,8.10,5.75,0.84,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,20010826.50,49.00,172.00,76.00,8.55,6.40,8.20,133.50,86.00,6.30,...,14.60,8.77,1.42,0.50,0.00,0.00,0.00,0.00,0.00,0.00
75%,20101530.25,63.00,175.00,81.70,11.07,6.90,9.57,142.75,92.75,7.58,...,51.80,14.88,4.01,1.00,0.00,1.00,0.00,0.00,0.00,0.00
max,20125096.00,77.00,185.00,118.60,16.50,9.30,11.80,169.00,115.00,30.30,...,411.00,26.68,47.84,1.00,1.00,1.00,1.00,1.00,1.00,1.00

# Objective sleep quality

In [123]:
sleep_obj = df_from_excel('actionable_data/Objective sleep quality.xlsx')
print(sleep_obj.columns)
sleep_obj.head(5)

Index(['number', 'gender', 'age', 'height（cm）', 'weight（kg）',
       'subjective sleep quality', 'sleep latency', 'sleep duration',
       'habitual sleep efficiency', 'sleep disturbances', 'sleep medication',
       'daytime dysfunction', 'PSQI score'],
      dtype='object')

,number,gender,age,height（cm）,weight（kg）,subjective sleep quality,sleep latency,sleep duration,habitual sleep efficiency,sleep disturbances,sleep medication,daytime dysfunction,PSQI score
0,20050628,male,48,170.00,79.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00
1,20052606,male,38,173.00,90.00,1.00,1.00,0.00,0.00,2.00,0.00,1.00,5.00
2,20061729,male,41,185.00,76.60,1.00,0.00,0.00,0.00,0.00,1.00,1.00,3.00
3,20092226,male,67,160.00,64.00,2.00,2.00,0.00,1.00,2.00,0.00,1.00,8.00
4,20092535,male,49,165.00,68.00,0.00,2.00,0.00,0.00,1.00,0.00,1.00,4.00

In [124]:
sleep_obj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   number                     59 non-null     object
 1   gender                     59 non-null     object
 2   age                        59 non-null     int64
 3   height（cm）                 58 non-null     float64
 4   weight（kg）                 58 non-null     float64
 5   subjective sleep quality   54 non-null     float64
 6   sleep latency              54 non-null     float64
 7   sleep duration             54 non-null     float64
 8   habitual sleep efficiency  54 non-null     float64
 9   sleep disturbances         54 non-null     float64
 10  sleep medication           54 non-null     float64
 11  daytime dysfunction        54 non-null     float64
 12  PSQI score                 58 non-null     float64
dtypes: float64(10), int64(1), object(2)
memory usage: 6.1+ KB

In [125]:
sleep_obj.describe()

,age,height（cm）,weight（kg）,subjective sleep quality,sleep latency,sleep duration,habitual sleep efficiency,sleep disturbances,sleep medication,daytime dysfunction,PSQI score
count,59.00,58.00,58.00,54.00,54.00,54.00,54.00,54.00,54.00,54.00,58.00
mean,48.75,170.95,76.71,1.37,1.13,0.59,0.37,1.11,0.37,1.20,5.72
std,16.07,6.66,14.59,0.81,0.91,0.66,0.62,0.46,0.73,0.92,3.32
min,12.00,154.00,45.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,34.00,169.00,68.93,1.00,1.00,0.00,0.00,1.00,0.00,1.00,4.00
50%,49.00,171.50,75.50,1.00,1.00,0.50,0.00,1.00,0.00,1.00,5.00
75%,63.00,175.00,80.00,2.00,1.75,1.00,1.00,1.00,0.75,2.00,8.00
max,77.00,185.00,118.60,3.00,3.00,2.00,3.00,2.00,3.00,3.00,13.00

## Subjective Sleep Quality

In [126]:
sleep_subj = pd.read_excel('actionable_data/Subjective sleep quality.xlsx')
print(sleep_subj.columns)
sleep_subj.head(5)

Index(['number', 'AHI (event per hour)', 'TST (hour)', 'UST (hour)',
       'SST (hour)', 'RST (hour)', 'ALUS (min)', 'ALSS (min)', 'ALRS (min)',
       'USP (%)', 'SSP (%)', 'RSP (%)'],
      dtype='object')

,number,AHI (event per hour),TST (hour),UST (hour),SST (hour),RST (hour),ALUS (min),ALSS (min),ALRS (min),USP (%),SSP (%),RSP (%)
0,19070921,14.70,6.80,2.80,2.10,1.90,7.10,8.80,4.90,0.41,0.31,0.28
1,19072205,20.20,4.20,1.50,2.00,0.80,7.70,13.00,5.10,0.36,0.48,0.19
2,19072214,19.70,11.90,5.50,3.10,3.30,6.40,9.00,4.20,0.46,0.26,0.28
3,19072938,0.40,5.40,1.10,3.20,1.10,4.60,16.00,4.10,0.20,0.59,0.20
4,19072940,0.30,7.30,1.00,4.70,1.60,5.20,22.00,6.50,0.14,0.64,0.22

In [127]:
sleep_subj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   number                40 non-null     object
 1   AHI (event per hour)  40 non-null     float64
 2   TST (hour)            40 non-null     float64
 3   UST (hour)            40 non-null     float64
 4   SST (hour)            40 non-null     float64
 5   RST (hour)            40 non-null     float64
 6   ALUS (min)            40 non-null     float64
 7   ALSS (min)            40 non-null     float64
 8   ALRS (min)            40 non-null     float64
 9   USP (%)               40 non-null     float64
 10  SSP (%)               40 non-null     float64
 11  RSP (%)               40 non-null     float64
dtypes: float64(11), object(1)
memory usage: 4.0+ KB

In [128]:
sleep_subj.describe()

,AHI (event per hour),TST (hour),UST (hour),SST (hour),RST (hour),ALUS (min),ALSS (min),ALRS (min),USP (%),SSP (%),RSP (%)
count,40.00,40.00,40.00,40.00,40.00,40.00,40.00,40.00,40.00,40.00,40.00
mean,25.15,7.69,3.73,2.44,1.58,10.17,11.03,4.58,0.47,0.32,0.20
std,18.68,1.80,1.62,1.16,0.70,5.55,4.25,1.20,0.18,0.15,0.08
min,0.30,1.54,0.90,0.30,0.20,4.30,3.00,1.08,0.14,0.04,0.03
25%,14.45,7.20,2.72,1.50,1.08,6.35,8.00,4.10,0.35,0.20,0.13
50%,21.20,7.92,3.69,2.29,1.50,8.40,11.00,4.69,0.47,0.32,0.20
75%,36.10,8.83,5.05,3.23,2.02,12.15,13.00,5.15,0.61,0.41,0.27
max,101.70,11.90,6.50,4.70,3.30,27.80,22.00,7.10,0.83,0.65,0.34

# HRV

In [ ]:
import pandas as pd

# Load the pickled file
peaks = pd.read_pickle('path_to_your_pickled_file.pkl')

# Display the dataframe
print(peaks.head())